<button class="btn btn-primary" [routerLink]="['/item']">New Item</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: loop through the people array and display each person in a row -->
        <!-- TODO: also display an "edit" link that goes to the /item/:documentId route -->
        <!-- TODO: also display a "delete" link that executes the delete method in list.component.ts -->
        <!-- hint 0: use *ngFor on a <tr></tr> -->
        <!-- hint 1: use {{foo.Bar}} within <td></td> elements to display a string -->
        <!-- hint 2: use [routerLink]="['route', 'values']" to generate a link that uses the router -->
        <!-- hint 3: use (click)="method(arguments)" to specify what should happen on a click event -->
    </tbody>
</table>
