<div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" [(ngModel)]="person.FirstName" />
</div>
<div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="LastName" placeholder="Last Name" [(ngModel)]="person.LastName">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="Email" placeholder="Email" [(ngModel)]="person.Email">
</div>
<button type="button" class="btn btn-danger" [routerLink]="['/']">Cancel</button>
<button type="button" class="btn btn-success" (click)="save()">Save</button>
